/* *{
  margin: 0;
  padding: 0;
  
} */

body{
  background: #303030;
  color: #fff;
  margin: 0;
}
.title{
  text-align: center;
  margin-top: 50px;
}
.title-sub{
  text-align: center;
}
.food{
  margin: 20px auto;
  width: 200px;
  background: #fff;
  color: #000;
  padding: 20px;
  border-radius: 5px;

}
img{
  width: 100%;
  height: auto;
}

.navbar{
  background-color: #fff;
  padding: 20px;
}
.navbar a{
  margin-right: 10px;
  text-decoration: none;
}
.cart-item {
  padding: 10px;
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid grey;
  line-height: 0px;
} 